# {{ os_modules_load_path }}

{% if ansible_architecture == 'x86_64' %}
{% endif %}

{% if 'AuthenticAMD' in ansible_facts.processor %}
kvm-amd
{% endif %}

{% if 'GenuineIntel' in ansible_facts.processor %}
ghash-clmulni-intel
aesni-intel
kvm-intel
{% endif %}

kvm

# Filesystem
{% if efi_installed %}
vfat
{% endif %}

# Network
{% for int in ansible_interfaces %}
{% if ansible_facts[int].module is defined %}
{{ ansible_facts[int].module }}
{% endif %}

{% if int.startswith('wl') and ansible_facts[int].active %}
# Wifi
rfkill
gcm
ccm
algif_aead
des_generic
cbc
ecb
algif_skcipher
cmac
md4
algif_hash
af_alg
{% endif %}
{% endfor %}

{% if ansible_form_factor == 'Desktop' %}
# Desktop
psmouse
snd
snd_pcm
snd_hda_intel
snd_timer
soundcore
usbhid
{% endif %}

{% if ansible_system_vendor == 'QEMU' %}
# QEMU stuff
virtio_balloon
virtio_gpu
virtio_input
virtio_rng
{% endif %}

# netfilter
ip_tables
x_tables
iptable_filter
iptable_nat
iptable_mangle

ipt_LOG
ipt_REJECT

xt_tcpudp
xt_conntrack
xt_REDIRECT
xt_owner
nf_conntrack
nf_defrag_ipv4
nf_reject_ipv4
nf_nat
