[Unit]
Description=Network Time Synchronization with Tor
ConditionCapability=CAP_SYS_TIME
Conflicts=shutdown.target
Requires=tor.service
After=tor.service
Wants=tor.service

[Service]
AmbientCapabilities=CAP_SYS_TIME
CapabilityBoundingSet=CAP_SYS_TIME
ExecStart=!!/usr/local/bin/secure-time-sync --use-tor
Restart=always
RestartSec=20
Type=notify
WatchdogSec=3min
LockPersonality=true
MemoryDenyWriteExecute=true
NoNewPrivileges=true
PrivateTmp=true
PrivateDevices=true
#PrivateUsers=true
ProcSubset=pid
ProtectProc=invisible
ProtectControlGroups=yes
ProtectHome=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectSystem=strict
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true
SystemCallArchitectures=native
UMask=0077
#IPAddressDeny=any

[Install]
WantedBy=multi-user.target
